body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial;
}

h2, p {
  &.invert {
    color: white;
  }

  &.shadow {
    background: rgba(43, 43, 43, 0.75);
    border-radius: 4px;
    padding: 10px 24px;
    display: table;
    margin: 12px auto;
    font-weight: 300;
  }
}

h2 {
  color: #333;
  font-size: 32px;
  margin-top: 0;
}

p {
  color: #555;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;

  &.shadow {
    max-width: 655px;

    &.full-only {
      display: none;
    }
  }
}

a {
  text-decoration: none !important;
}

.button {
  display: block;
  border-radius: 4px;
  padding: 6px 12px;
  margin: 0 12px;
  font-size: 18px;
  margin: 0 0 12px;
  width: 100%;

  a {
    text-decoration: none !important;
    color: white;
  }

  &.primary {
    background: #48a8cb;
  }

  &.secondary {
    border: 1px solid #48a8cb;
  }
}

#social-bar {
  display: table;
  padding: 10px 24px;
  font-size: 12px;
  background: black;
  color: white;
  width: 100%;
  text-align: right;
  font-weight: 300;

  p, ul {
    float: right;
    padding: 0;
  }

  p {
    margin: 4px 8px 0 0;
    font-size: 12px;
    color: white;
  }

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: table;
  }

  i {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background: #555;
    height: 21px;
    width: 21px;

    &:hover {
      color: #555;
      background: white;
    }

    &.fa-facebook {
      padding: 5px 7px;
    }

    &.fa-google-plus {
      padding: 6px;
    }

  }
}


nav {
  display: table;
  width: 100%;
  height: initial;
  padding: 12px 24px 0;
  background: white;
  border-bottom: 1px solid #ccc;
  z-index: 999;

  #logo {
    text-align: center;

    img {
      max-width: 200px;
      max-height: 100px;
      width: auto;
      height: auto;
    }
  }

  ul {
    padding: 0;
    display: none;
    clear: both;

    &.show {
      display: block;
    }
  }

  #menu {
    float: right;
    margin-bottom: 12px;
    cursor: pointer;
    padding: 4px;
  }

  #links li {
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 6px 16px;
    margin: 6px 0;
    border: 1px solid #48a8cb;
    border-radius: 4px;
    a {
      color: #555;
      font-weight: 300;

      &.active {
      }
    }

    &:hover {
      background: #48a8cb;

      a {
        color: white;
      }
    }
  }
}

main {
  width: 100%;
}

footer {
  background: black;
  margin: 0;

  #logo {
    padding-top: 24px;
    text-align: center;

    img {
      width: 100px;
      border-radius: 5px;
    }
  }

  p {
    text-align: center;
    margin: 18px 0 0;
    padding: 0 0 18px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #555;
  }

  #links {
    margin: 0;
    padding: 0 0 24px;
    text-align: center;

    li {
      display: inline-block;

      a {
        color: #555;
        padding: 0 8px;
        font-family: sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-decoration: underline !important;
      }
    }
  }
}

.container.narrow {
  max-width: 650px;
  margin: auto;
  padding: 32px 12px 48px;
  text-align: center;

  h3, h4 {
    color: #333;
    clear: both;
    float: none;
  }

  h3 {
    text-decoration: underline;
  }

  .paragraph {
    color: #555;
    margin: 16px 0;
    line-height: 1.5;
  }

  .grid {
    display: table;

    &.narrow {
      width: 300px;
      margin: auto;      
    }
  }

  .grid-2 {
    float: left;
    width: 45%;
    padding: 0 2.5%;
  }

}