#item-fold {

  &:last-child {
    border-top: 1px solid #ccc;

    ul {
      padding: 0 30px 0 60px !important;

      li {
        font-size: 16px !important;
        text-align: justify !important;
      }
    }
  }

	#background {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 200px;

    &.background-1 {
      background-image: url("../files/tige.jpg");
    }

    &.background-2 {
      background-image: url("../files/pontoon.jpg");
    }

		#inner-background {
      display: none;
      width: 100%;
      height: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
      text-align: center;
		}
	}

	#content {
    display: table;
    margin: auto;
    padding: 0;

		#inner-content {
      margin-top: 34.860px;
      margin-bottom: 34.860px;
      text-align: center;

			ul {
        padding-left: 15px;
			}

			li {
        color: #555;
        font-size: 20px;
        margin: 12px 0;
        list-style: none;
        text-align: center;
			}
		}
	}
}