#item-fold {

	#background {
    background-repeat: no-repeat;
    background-attachment: initial;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;

    &.background-1 {
      background-image: url("../files/tige_thumb.jpg");
    }

    &.background-2 {
      background-image: url("../files/pontoon1-thumb.jpg");
    }

		#inner-background {
      height: 200px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
      text-align: center;

			h2, p {

			}

			h2 {

			}

			p {

			}
		}
	}

	#content {
    min-height: 300px;
    padding: 24px 10%;

		#inner-content {

			ul {

			}

			li {
        list-style: none;
			}
		}
	}
}