@include media($desktop) {

  #social-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  h2 {
    font-size: 42px;
  }

  p.shadow.full-only {
    display: table;
  }

  .button {
    margin: 0;
    display: inline-block;
    width: initial;
  }

  nav {
    height: 89px;
    top: 0;
    margin-top: 45px;
    position: fixed;
    box-shadow: 0px -2px 8px black;

    #logo {
      float: left;
      text-align: none;  

      img {
        max-height: 65px;
      }
    }

    #menu {
      display: none;
    }

    #links {
      display: inline-block;
      float: right;
      clear: none;

      li {
        display: inline-block;
        text-align: none;
        margin: 0;
      }
    }
  }

  main {
    margin: 134px 0 0;
  }

}

iframe {
  max-width: 90%;
}