@include media($desktop) {

	#item-fold {

	  &:last-child {
	    border-top: 1px solid #ccc;
	    ul {
	      padding: 0 0px 0 40px !important;
	    }

	    li {
	      font-size: 20px !important;
	      text-align: left !important;
	    }
	  }

		#background {
		    background-position: center center;
		    background-attachment: fixed !important;
        height: 300px;

			#inner-background {
				height: 200px;
				display: initial;
				widows: initial;

				h2, p {

				}

				h2 {

				}

				p {

				}
			}
		}

		#content {
      padding: 24px 10%;

			#inner-content {
				h2, p {
					display: none;
				}

				ul {
					
				}

				li {
					padding-left: 40px;
          list-style: initial;
          text-align: left;
				}
			}
		}
	}

}
